section.section.news
  h2.news__title Новости
  .news__wrapper
    - var menu = [['Все', 'Фонд', 'Центры'], []];
    ul.news-menu
      each item, index in menu[0]
        if index == 0
          li.news-menu__item.news-menu__item--active
            .news-menu__link #{item}
        else
          li.news-menu__item
            .news-menu__link #{item}
    .news__content
      .news__content_item.news__content_item--active.all(data-index="0")
        .news__item.news__item--news
          .news__date 
            span.time 17:22   
            span.date 30.04.2020 
          - var tags = [['Новости', 'Право на историю', 'Эстония'], []];
          ul.slider__content_tags
            each item, index in tags[0]
              li.slider__content_item #{item}
          .news__content
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla debitis deleniti rerum inventore dolorum explicabo!
        .news__item.news__item--news
          .news__date 
            span.time 17:22   
            span.date 30.04.2020 
          - var tags = [['Новости', 'Право на историю', 'Эстония'], []];
          ul.slider__content_tags
            each item, index in tags[0]
              li.slider__content_item #{item}
          .news__content
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla debitis deleniti rerum inventore dolorum explicabo!
        .news__item.news__item--news
          .news__date 
            span.time 17:22   
            span.date 30.04.2020 
          - var tags = [['Новости', 'Право на историю', 'Эстония'], []];
          ul.slider__content_tags
            each item, index in tags[0]
              li.slider__content_item #{item}
          .news__content
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla debitis deleniti rerum inventore dolorum explicabo!
      .news__content_item.fund(data-index="1")
        .news__item.news__item--news
          .news__date 
            span.time 17:22   
            span.date 30.04.2020 
          - var tags = [['Новости', 'Право на историю', 'Эстония'], []];
          ul.slider__content_tags
            each item, index in tags[0]
              li.slider__content_item #{item}
          .news__content
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla debitis deleniti rerum inventore dolorum explicabo!
        .news__item.news__item--news
          .news__date 
            span.time 17:22   
            span.date 30.04.2020 
          - var tags = [['Новости', 'Право на историю', 'Эстония'], []];
          ul.slider__content_tags
            each item, index in tags[0]
              li.slider__content_item #{item}
          .news__content
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla debitis deleniti rerum inventore dolorum explicabo!
        .news__item.news__item--news
          .news__date 
            span.time 17:22   
            span.date 30.04.2020 
          - var tags = [['Новости', 'Право на историю', 'Эстония'], []];
          ul.slider__content_tags
            each item, index in tags[0]
              li.slider__content_item #{item}
          .news__content
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla debitis deleniti rerum inventore dolorum explicabo!
      .news__content_item.center(data-index="2")
        .news__item.news__item--news
          .news__date 
            span.time 17:22   
            span.date 30.04.2020 
          - var tags = [['Новости', 'Право на историю', 'Эстония'], []];
          ul.slider__content_tags
            each item, index in tags[0]
              li.slider__content_item #{item}
          .news__content
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla debitis deleniti rerum inventore dolorum explicabo!
        .news__item.news__item--news
          .news__date 
            span.time 17:22   
            span.date 30.04.2020 
          - var tags = [['Новости', 'Право на историю', 'Эстония'], []];
          ul.slider__content_tags
            each item, index in tags[0]
              li.slider__content_item #{item}
          .news__content
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla debitis deleniti rerum inventore dolorum explicabo!
        .news__item.news__item--news
          .news__date 
            span.time 17:22   
            span.date 30.04.2020 
          - var tags = [['Новости', 'Право на историю', 'Эстония'], []];
          ul.slider__content_tags
            each item, index in tags[0]
              li.slider__content_item #{item}
          .news__content
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla debitis deleniti rerum inventore dolorum explicabo!

    .news__more 
      a.news-more__link Все новости
  .section__wrapper.section__wrapper--news

