section.section.activity-news
  h2.section__title ПУБЛИКАЦИИ О МЕРОПРИЯТИЯХ
  .main__activity-news-wrapper
    a(href='#' role='button').activity-news__buttons.activity-news__left
      +icon('arrow', 'activity-news-arrow__icon activity-news-arrow__icon--left')
    .semi-activity-news__wrapper
      .activity-news__wrapper
        .slider__item--activity-news
          .news__item.news__item--latest.news__item--activity-news
            .news__image
              a(href="#").news__link
                +image('content/latest-news__image-1.jpg', 'img latest-news__image')
            .news__content.news__content--latest
              .news__date.news__date--pencil
                span.date.date--slash 30.04.2020
                a(href="#").news__link
                  span.author АЛЕКСАНДР БРОД (РАПСИ)
              - var tags = [['Новости', 'Право на историю', 'Эстония'], []];
              ul.search-tags
                each item, index in tags[0]
                  li.search-tags__item
                    a.search-tags__link(href="#") #{item}
              .news__heading
                a(href="#").news__link
                  h3.news__title Lorem ipsum dolor sit amet.
            .section__wrapper.section__wrapper--latest
        .slider__item--activity-news
          .news__item.news__item--latest.news__item--activity-news
            .news__image
              a(href="#").news__link
                +image('content/latest-news__image-1.jpg', 'img latest-news__image')
            .news__content.news__content--latest
              .news__date.news__date--pencil
                span.date.date--slash 30.04.2020
                a(href="#").news__link
                  span.author АЛЕКСАНДР БРОД (РАПСИ)
              - var tags = [['Новости', 'Право на историю', 'Эстония'], []];
              ul.search-tags
                each item, index in tags[0]
                  li.search-tags__item
                    a.search-tags__link(href="#") #{item}
              .news__heading
                a(href="#").news__link
                  h3.news__title Lorem ipsum dolor sit amet.
            .section__wrapper.section__wrapper--latest
        .slider__item--activity-news
          .news__item.news__item--latest.news__item--activity-news
            .news__image
              a(href="#").news__link
                +image('content/latest-news__image-1.jpg', 'img latest-news__image')
            .news__content.news__content--latest
              .news__date.news__date--pencil
                span.date.date--slash 30.04.2020
                a(href="#").news__link
                  span.author АЛЕКСАНДР БРОД (РАПСИ)
              - var tags = [['Новости', 'Право на историю', 'Эстония'], []];
              ul.search-tags
                each item, index in tags[0]
                  li.search-tags__item
                    a.search-tags__link(href="#") #{item}
              .news__heading
                a(href="#").news__link
                  h3.news__title Lorem ipsum dolor sit amet.
            .section__wrapper.section__wrapper--latest
        .slider__item--activity-news
          .news__item.news__item--latest.news__item--activity-news
            .news__image
              a(href="#").news__link
                +image('content/latest-news__image-1.jpg', 'img latest-news__image')
            .news__content.news__content--latest
              .news__date.news__date--pencil
                span.date.date--slash 30.04.2020
                a(href="#").news__link
                  span.author АЛЕКСАНДР БРОД (РАПСИ)
              - var tags = [['Новости', 'Право на историю', 'Эстония'], []];
              ul.search-tags
                each item, index in tags[0]
                  li.search-tags__item
                    a.search-tags__link(href="#") #{item}
              .news__heading
                a(href="#").news__link
                  h3.news__title Lorem ipsum dolor sit amet.
            .section__wrapper.section__wrapper--latest
        .slider__item--activity-news
          .news__item.news__item--latest.news__item--activity-news
            .news__image
              a(href="#").news__link
                +image('content/latest-news__image-1.jpg', 'img latest-news__image')
            .news__content.news__content--latest
              .news__date.news__date--pencil
                span.date.date--slash 30.04.2020
                a(href="#").news__link
                  span.author АЛЕКСАНДР БРОД (РАПСИ)
              - var tags = [['Новости', 'Право на историю', 'Эстония'], []];
              ul.search-tags
                each item, index in tags[0]
                  li.search-tags__item
                    a.search-tags__link(href="#") #{item}
              .news__heading
                a(href="#").news__link
                  h3.news__title Lorem ipsum dolor sit amet.
            .section__wrapper.section__wrapper--latest
        .slider__item--activity-news
          .news__item.news__item--latest.news__item--activity-news
            .news__image
              a(href="#").news__link
                +image('content/latest-news__image-1.jpg', 'img latest-news__image')
            .news__content.news__content--latest
              .news__date.news__date--pencil
                span.date.date--slash 30.04.2020
                a(href="#").news__link
                  span.author АЛЕКСАНДР БРОД (РАПСИ)
              - var tags = [['Новости', 'Право на историю', 'Эстония'], []];
              ul.search-tags
                each item, index in tags[0]
                  li.search-tags__item
                    a.search-tags__link(href="#") #{item}
              .news__heading
                a(href="#").news__link
                  h3.news__title Lorem ipsum dolor sit amet.
            .section__wrapper.section__wrapper--latest
        .slider__item--activity-news
          .news__item.news__item--latest.news__item--activity-news
            .news__image
              a(href="#").news__link
                +image('content/latest-news__image-1.jpg', 'img latest-news__image')
            .news__content.news__content--latest
              .news__date.news__date--pencil
                span.date.date--slash 30.04.2020
                a(href="#").news__link
                  span.author АЛЕКСАНДР БРОД (РАПСИ)
              - var tags = [['Новости', 'Право на историю', 'Эстония'], []];
              ul.search-tags
                each item, index in tags[0]
                  li.search-tags__item
                    a.search-tags__link(href="#") #{item}
              .news__heading
                a(href="#").news__link
                  h3.news__title Lorem ipsum dolor sit amet.
            .section__wrapper.section__wrapper--latest
        .slider__item--activity-news
          .news__item.news__item--latest.news__item--activity-news
            .news__image
              a(href="#").news__link
                +image('content/latest-news__image-1.jpg', 'img latest-news__image')
            .news__content.news__content--latest
              .news__date.news__date--pencil
                span.date.date--slash 30.04.2020
                a(href="#").news__link
                  span.author АЛЕКСАНДР БРОД (РАПСИ)
              - var tags = [['Новости', 'Право на историю', 'Эстония'], []];
              ul.search-tags
                each item, index in tags[0]
                  li.search-tags__item
                    a.search-tags__link(href="#") #{item}
              .news__heading
                a(href="#").news__link
                  h3.news__title Lorem ipsum dolor sit amet.
            .section__wrapper.section__wrapper--latest
    a(href='#' role='button').activity-news__buttons.activity-news__right
      +icon('arrow', 'activity-news-arrow__icon activity-news-arrow__icon--right')

