section.section.news
  h2.section__title Новости
  .news__wrapper
    .tabs
      .tabs__nav
        - var menu = [['Все', 'Фонд', 'Центры'], ['all', 'fund', 'center']];
        ul.news-menu
          each item, index in menu[0]
            if index == 0
              li.news-menu__item.is-active(data-tab-name=""+ menu[1][index])
                a.news-menu__link #{item}
            else
              li.news-menu__item(data-tab-name=""+ menu[1][index])
                a.news-menu__link #{item}
      .tabs__content            
        .tab.all.is-active
          .news__item.news__item--news
            .news__date.news__date--clock
              span.time 17:22   
              span.date 30.04.2020 
            - var tags = [['Новости', 'Право на историю', 'Эстония'], []];
            ul.search-tags
              each item, index in tags[0]
                li.search-tags__item
                  a.search-tags__link(href="#") #{item}
            .news__text.news__text--news
              a(href="#").news__link
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla debitis deleniti rerum inventore dolorum explicabo!

          .news__item.news__item--news
            .news__date.news__date--clock 
              span.time 17:22   
              span.date 30.04.2020 
            - var tags = [['Новости', 'Право на историю', 'Эстония'], []];
            ul.search-tags
              each item, index in tags[0]
                li.search-tags__item
                  a.search-tags__link(href="#") #{item}
            .news__text.news__text--news
              a(href="#").news__link
               p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla debitis deleniti rerum inventore dolorum explicabo!

          .news__item.news__item--news
            .news__date.news__date--clock 
              span.time 17:22   
              span.date 30.04.2020 
            - var tags = [['Новости', 'Право на историю', 'Эстония'], []];
            ul.search-tags
              each item, index in tags[0]
                li.search-tags__item
                  a.search-tags__link(href="#") #{item}
            .news__text.news__text--news
              a(href="#").news__link
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla debitis deleniti rerum inventore dolorum explicabo!

        .tab.fund
          .news__item.news__item--news
            .news__date.news__date--clock 
              span.time 17:22   
              span.date 30.04.2020 
            - var tags = [['Новости', 'Право на историю', 'Эстония'], []];
            ul.search-tags
              each item, index in tags[0]
                li.search-tags__item
                  a.search-tags__link(href="#") #{item}
            .news__text
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla debitis deleniti rerum inventore dolorum explicabo!

          .news__item.news__item--news
            .news__date.news__date--clock 
              span.time 17:22   
              span.date 30.04.2020 
            - var tags = [['Новости', 'Право на историю', 'Эстония'], []];
            ul.search-tags
              each item, index in tags[0]
                li.search-tags__item
                  a.search-tags__link(href="#") #{item}
            .news__text
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla debitis deleniti rerum inventore dolorum explicabo!



        .tab.center
          .news__item.news__item--news
            .news__date.news__date--clock 
              span.time 17:22   
              span.date 30.04.2020 
            - var tags = [['Новости', 'Право на историю', 'Эстония'], []];
            ul.search-tags
              each item, index in tags[0]
                li.search-tags__item
                  a.search-tags__link(href="#") #{item}
            .news__text
              a(href="#").news__link
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla debitis deleniti rerum inventore dolorum explicabo!


    .section__wrapper.section__wrapper--news
    .news__more 
      a.news-more__link Все новости


