section.overlay#overlayPhoto
  .container.overlay__container
    .overlay__content.overlay-content#overlayContent
      .overlay-content__header.overlay-content__header--photo
          .fotorama#fotorama(
            data-nav="thumbs"
            data-allowfullscreen="false"
            data-hash="true"
            data-loop="true"
            data-autoplay="true"
            data-keyboard="true"
            data-arrows="true"
            data-click="true"
            data-swipe="true"
            data-trackpad="true"
            data-width="1200"
            data-maxwidth="100%"
            data-ratio="16/9"
          )
            img(src='http://cf14422.tmweb.ru/upload/iblock/27e/27ed1e719bf38a0e9185c4f7268f9ba0.jpg').img
            img(src='http://cf14422.tmweb.ru/local/templates/pravfond/assets/images/6df8541a8635c06464e9bcd9a3021a22.jpg').img
            img(src='http://cf14422.tmweb.ru/upload/iblock/352/3523d4633aeffb03b7948754ac1ba3ce.jpg').img
            img(src='http://cf14422.tmweb.ru/upload/iblock/21f/21f4d88e4189cd5caf8c5f4278b21b30.jpg').img
            img(src='http://cf14422.tmweb.ru/upload/iblock/e5f/e5f90dca1d6760afe8b03891f9eec744.jpg').img
            img(src='http://cf14422.tmweb.ru/upload/iblock/3c0/3c06be6701e17b9af4f2671516d59628.jpg').img
            img(src='http://cf14422.tmweb.ru/upload/iblock/3c0/3c06be6701e17b9af4f2671516d59628.jpg').img
            img(src='http://cf14422.tmweb.ru/upload/iblock/3c0/3c06be6701e17b9af4f2671516d59628.jpg').img
            img(src='http://cf14422.tmweb.ru/upload/iblock/3c0/3c06be6701e17b9af4f2671516d59628.jpg').img
            img(src='http://cf14422.tmweb.ru/upload/iblock/3c0/3c06be6701e17b9af4f2671516d59628.jpg').img
            img(src='http://cf14422.tmweb.ru/upload/iblock/3c0/3c06be6701e17b9af4f2671516d59628.jpg').img
            img(src='http://cf14422.tmweb.ru/upload/iblock/3c0/3c06be6701e17b9af4f2671516d59628.jpg').img
            img(src='http://cf14422.tmweb.ru/upload/iblock/3c0/3c06be6701e17b9af4f2671516d59628.jpg').img
            img(src='http://cf14422.tmweb.ru/upload/iblock/3c0/3c06be6701e17b9af4f2671516d59628.jpg').img
            img(src='http://cf14422.tmweb.ru/upload/iblock/3c0/3c06be6701e17b9af4f2671516d59628.jpg').img

    a(href="#").overlay__close#closeOverlay
      +icon('popUP-close', 'close-button__img', '20')
