include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title 
  body
    .wrapper
      .container
        header.header
          a(href="#").header__left
            +icon('header__logo', 'header-logo__img')
          .header__right
            - var icons = ["header__fb", "header__tw", "header__vk", "header__ok","header__tg", "header__yt"];
              ul.socials.header__socials
                each item in icons
                  li.socials__item
                    a(href="#").socials__link
                      +icon(item, "socials__icon")
              .search#search-link
                label.search__block
                  input(type="text" name="name" placeholder="" required).search__input
                - var icons = ["search-icon"]
                  each item in icons
                    +icon(item, "search-icon")
              .burger-menu#hamburger-menu-link
                - var icons = ["menu"]
                  each item in icons
                    +icon(item, "menu-icon")     
              //- nav.hamburger-menu#hamburger-menu
                .burger-header__menu
                  - var menu = [['Об издании', 'Рекламодателям', 'Контакты'], ['main', 'popular', 'short']];
                  ul.header__menu-list
                    each item, index in menu[0]
                      li.header__menu-item
                        a.header__menu-link(href="#" + menu[1][index] v-scroll-to="'#" + menu[1][index] + "'") #{item}
                - var menu = [['Экономика', 'Власть'], ['slider-form', 'slider-form']];
                ul.menu__list
                  each item, index in menu[0]
                    li.menu__item
                      a.menu__link(href="#" + menu[1][index] v-scroll-to="'#" + menu[1][index] + "'") #{item}
                - var icons = ["header__fb", "header__tw", "header__vk", "header__ok","header__tg", "header__yt"];
                  ul.socials.hamburger-menu__socials
                    each item in icons
                      li.socials__item
                        a.socials__link(href="#" target="_blank")
                          +icon(`${item}`, 'socials__icon')
                  a.close-button#close-nav-button(href="#")
                    +icon('remove', 'close-button__img', '20')

      nav.menu
        .container
          - var menu = [['Главная', 'Фонд', 'Гранты и субсидии', 'Правозащитные центры', 'Мероприятия', 'Пресс-центр', 'Контакты'], []];
            ul.menu__list
              each item, index in menu[0]
                if index == 0
                  li.menu__item.menu__item--active
                    a.menu__link(href="#"+ menu[1][index]) #{item}
                else
                  li.menu__item
                    a.menu__link(href="#"+ menu[1][index]) #{item}
      main.main-content
        .main__wrapper
          .container.main-container
            section.section.short
              .news__item.news__item--short
                .news__content.news__content--short
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla debitis deleniti rerum inventore dolorum explicabo!
                .news__image.news__image--short
                  +image("content/short-1.png", "img img--small")
              .news__item.news__item--short
                .news__content.news__content--short
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla debitis deleniti rerum inventore dolorum explicabo!
                .news__image.news__image--short
                  +image("content/short-2.png", "img img--small")
              .news__item.news__item--short
                .news__content.news__content--short
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla debitis deleniti rerum inventore dolorum explicabo!
                .news__image.news__image--short
                  +image("content/short-3.png", "img img--small")

            section.slider.slider--main
              .slider__wrapper
                .slider__item
                  .slider__content
                    - var tags = [['Новости', 'Право на историю', 'Эстония'], []];
                      ul.slider__tags.tags
                        each item, index in tags[0]
                          li.tags__item #{item}
                    h3.slider__title Lorem ipsum dolor sit amet.
                    .slider__text
                      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis praesentium harum quas, iusto consequuntur fugit aut perspiciatis consectetur corrupti! Tempore!
                  .slider__image
                    +image('content/slider__item-1.jpg', 'slider-content__image')
                    .slider__tag--active Право на историю
                    .slider__left
                      +icon('arrow', 'slider-arrow__icon')
                    .slider__right 
                      +icon('arrow', 'slider-arrow__icon')
                .slider__navigation
                  - var icons = [["slider-navigation-dot", "slider-navigation-dot", "slider-navigation-dot", "slider-navigation-dot"],[]];
                    ul.slider-navigation-dot__list
                      each item, index in icons[0]
                        if index == 0
                          li.slider-navigation-dot__item.slider-navigation-dot__item--active
                            +icon(item, "slider-navigation-dot__icon")
                        else
                          li.slider-navigation-dot__item
                            +icon(item, "slider-navigation-dot__icon")

